
.image-group {
    width: 100%;
}

.image-group > img {
    width: 100%;
    height: auto;
    
}

.image-group.project {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-group.project > img {
    border: solid 2px var(--highlight);
    border-radius: 5px;
    max-width: 600px;
}

.image-group > .title {
    width: calc(100% - 10px);
    height: auto;
    padding: 5px;
    background: var(--highlight);
    color: var(--body-background-dark);
    margin-top: 10px;
    cursor: pointer;
}