
div.button-container {
    display: flex;
    flex-direction: column;
}

div.button-container > div.button-group {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
}

div.button-container > div.button-group > button {
    width: 100%;
}



button {
    cursor: pointer;
    margin: 5px;
    padding: 10px;

    border: 0;
    border-radius: 2px;

    min-width: 50px;;
    
    text-align: left;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);

    transition: filter 200ms ease;

    letter-spacing: 0.1em;

    font-family: Roboto;
    
    overflow: hidden;
    position: relative;
}
span.ripple {
    position: absolute; /* The absolute position we mentioned earlier */
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 10;
}
@keyframes ripple {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }

button.thin {
    padding: 5px 10px 5px 10px;
}
button:hover {
    filter: brightness(115%);
}
button:focus {
    filter: none;
    /*outline: solid 1px var(--text-light);*/
	/* box-shadow: none; */
}
button[disabled] {
    filter: brightness(70%);
    cursor: auto;
}

button.primary {
    --background-color: var(--highlight);
    background-color: var(--background-color);
    border: none;    
    color: var(--text-light);
}

button.secondary {
    --text-color: var(--highlight);

    color: var(--text-color);
    border: solid 2px var(--text-color);

    background-color: transparent;    
}

button.tirtiary {
    --text-color: var(--highlight);
    color: var(--text-color);

    padding: 5px;

    text-decoration: underline; 
    border: none;
    background-color: transparent;
    box-shadow: none;
}

button.positive {
    --text-color: var(--positive-color);
    --background-color: var(--positive-color);
}

button.danger {
    --text-color: var(--danger-color);
    --background-color: var(--danger-color);
}

button.plus::after {
    content: " +"    
}

button.minus::after {
    content: " -"    
}